<div class="component">
  <div class="menu">
    <app-menu></app-menu>
  </div>
  <div class="component-heading">  
    <div class="title side-by-side">
      <span class="pagetitle">{{ pagetitle }}</span>
      <span class="newlink"> | <a routerLink="{{ createlink }}">{{ createlinkname }}</a></span>
      <span class="searchBox"> | <input [(ngModel)]="searchfor" class="no-border" type="text" placeholder="Search"></span>
    </div>
    <div class="side-by-side align-right">
      <span class="error-message">{{ errormessage }}</span>
    </div>
  </div>
  <div class="content">
    <table class="table table-sm table-hover" *ngIf="categories">
      <tr class="stky-hdr">
          <th><a (click)="sort('name')">Name <i class="fas fa-sort"></i></a></th>
          <th><a (click)="sort('assetType')">Asset Type <i class="fas fa-sort"></i></a></th>
          <th>Action</th>
      </tr>
      <tr *ngFor="let category of categories | search: searchfor |  sort:sortProperty:sortOrder">
        <td>{{ category.name }}</td>
        <!--  
        	This ngSwitch must match the enum declared in 
        	the Category.ts class file. As new asset types
        	are added, this needs to change.
        -->
        <td [ngSwitch]="category.assetType">
        	<span *ngSwitchCase=1>All Assets</span>
        	<span *ngSwitchCase=2>Vehicles</span>
        	<span *ngSwitchCase=3>Equipment</span>
        	<span *ngSwitchCase=4>Property</span>
        </td>
        <td>
          <span><a routerLink="/categories/detail/{{  category.id }}">Detail</a></span>
          <span> | <a routerLink="/categories/edit/{{ category.id }}">Edit</a></span>
        </td>
      </tr>
    </table>
  </div>
</div>