<div class="title">
  <span class="pagetitle">{{ pagetitle }}</span>
</div>
<div>
  <table class="table table-sm" *ngIf="asset">
    <tr>
      <th>Name:</th><td>{{ asset.Name }}</td>
      <th>Description:</th><td>{{ asset.Description }}</td>
    </tr>
    <tr>
      <th>Department:</th><td>{{ asset.Department?.Name }}</td>
      <th>Category:</th><td>{{ asset.Category?.Name }}</td>
    </tr>
    <tr>
      <th>User:</th><td>{{ asset.User?.Firstname }} {{asset.User?.Lastname}}</td>
      <th>&nbsp;</th><td>&nbsp;</td>
    </tr>
    <tr *ngIf="asset.Address">
      <th>Address:</th>
        <td>
          <span>{{ asset.Address.Address1 }}</span>
          <span *ngIf="asset.Address.Address2">{{ "," + asset.Address.Address2 }}</span>
          <span *ngIf="asset.Address.Address3">{{ "," + asset.Address.Address3 }}</span>
          <span>{{ asset.Address.City + ", " + asset.Address.State + " " + asset.Address.Zipcode }}</span>
        </td>
      <th>PO Number:</th><td>{{ asset.PONumber }}</td>
    </tr>
    <tr>
      <th>Cost:</th><td>{{ asset.Cost | currency }}</td>
      <th>Residual Value:</th>
        <td *ngIf="asset.ResidualValue">{{ asset.ResidualValue | currency }}</td>
        <td *ngIf="!asset.ResidualValue">N/A</td>      
    </tr>
    <tr>
      <th>Acquired Date:</th>
        <td *ngIf="asset.AcquiredDate">{{ asset.AcquiredDate | date }}</td>
        <td *ngIf="!asset.AcquiredDate">N/A</td>      

      <th>Disposed Date:</th>
        <td *ngIf="asset.DisposedDate">{{ asset.DisposedDate | date }}</td>
        <td *ngIf="!asset.DisposedDate">N/A</td>      
    </tr>
    <!-- 
      [GD] ams2-client-solution #39
      Do not display OutForRepairDate nor ReturnFromRepairDate
      if the asset is Property
     -->
    <tr *ngIf="assetType != assetTypes.Property">
      <th>Out For Repair Date:</th>
        <td *ngIf="asset.OutForRepairDate">{{ asset.OutForRepairDate | date }}</td>
        <td *ngIf="!asset.OutForRepairDate">N/A</td>      

      <th>Return From Repair Date:</th>
        <td *ngIf="asset.ReturnFromRepairDate">{{ asset.ReturnFromRepairDate | date }}</td>
        <td *ngIf="!asset.ReturnFromRepairDate">N/A</td>
    </tr>
    <tr>
      <th>Surplus Date:</th>
        <td *ngIf="asset.SurplusDate">{{ asset.SurplusDate | date }}</td>
        <td *ngIf="!asset.SurplusDate">N/A</td>
      <th>Retired Date:</th>
        <td *ngIf="asset.RetiredDate">{{ asset.RetiredDate | date }}</td>
        <td *ngIf="!asset.RetiredDate">N/A</td>
    </tr>
  </table>
</div>