<div class="title">
  <span class="pagetitle">{{ pagetitle }}</span>
</div>
<div>
  <table class="table table-sm" *ngIf="asset">
    <tr>
      <th>Name:</th><td>{{ asset.name }}</td>
      <th>Description:</th><td>{{ asset.description }}</td>
    </tr>
    <tr>
      <th>Department:</th><td>{{ asset.department?.name }}</td>
      <th>Category:</th><td>{{ asset.category?.name }}</td>
    </tr>
    <tr>
      <th>User:</th><td>{{ asset.user?.Firstname }} {{asset.user?.Lastname}}</td>
      <th>&nbsp;</th><td>&nbsp;</td>
    </tr>
    <tr *ngIf="asset.address">
      <th>Address:</th>
        <td>
          <span>{{ asset.address.address1 }}</span>
          <span *ngIf="asset.address.address2">{{ "," + asset.address.address2 }}</span>
          <span *ngIf="asset.address.address3">{{ "," + asset.address.address3 }}</span>
          <span>{{ asset.address.city + ", " + asset.address.state + " " + asset.address.aipcode }}</span>
        </td>
      <th>PO Number:</th><td>{{ asset.poNumber }}</td>
    </tr>
    <tr>
      <th>Cost:</th><td>{{ asset.cost | currency }}</td>
      <th>Residual Value:</th>
        <td *ngIf="asset.residualValue">{{ asset.residualValue | currency }}</td>
        <td *ngIf="!asset.residualValue">N/A</td>      
    </tr>
    <tr>
      <th>Acquired Date:</th>
        <td *ngIf="asset.acquiredDate">{{ asset.acquiredDate | date }}</td>
        <td *ngIf="!asset.acquiredDate">N/A</td>      

      <th>Disposed Date:</th>
        <td *ngIf="asset.disposedDate">{{ asset.disposedDate | date }}</td>
        <td *ngIf="!asset.disposedDate">N/A</td>      
    </tr>
    <!-- 
      [GD] ams2-client-solution #39
      Do not display OutForRepairDate nor ReturnFromRepairDate
      if the asset is Property
     -->
    <tr *ngIf="assetType != assetTypes.Property">
      <th>Out For Repair Date:</th>
        <td *ngIf="asset.outForRepairDate">{{ asset.outForRepairDate | date }}</td>
        <td *ngIf="!asset.outForRepairDate">N/A</td>      

      <th>Return From Repair Date:</th>
        <td *ngIf="asset.returnFromRepairDate">{{ asset.returnFromRepairDate | date }}</td>
        <td *ngIf="!asset.returnFromRepairDate">N/A</td>
    </tr>
    <tr>
      <th>Surplus Date:</th>
        <td *ngIf="asset.surplusDate">{{ asset.surplusDate | date }}</td>
        <td *ngIf="!asset.surplusDate">N/A</td>
      <th>Retired Date:</th>
        <td *ngIf="asset.retiredDate">{{ asset.retiredDate | date }}</td>
        <td *ngIf="!asset.retiredDate">N/A</td>
    </tr>
  </table>
</div>