<div class="component">
  <div class="menu">
    <app-menu></app-menu>
  </div>
  <div>
    <div class="title sbs">
      <span class="pagetitle">{{ pagetitle }}</span>
    </div>
<!--     <div class="sbs right">
      <label id="message" class="text-danger"></label>
    </div>
 -->  
  </div>
  <div class="content">
    <div class="container" *ngIf="department">

      <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="Code">Code</label>
        </div>
        <input [(ngModel)]="department.code" name="Code" type="text" class="form-control" id="Code">

        <div class="input-group-prepend">
          <label class="input-group-text" for="Name">Name</label>
        </div>
        <input [(ngModel)]="department.name" name="Name" type="text" class="form-control" id="Name">

        <div class="input-group-prepend">
          <label class="input-group-text" for="Active">Active</label>
        </div>
        <select [(ngModel)]="department.active" name="Active" class="form-control" id="Active">
          <option [ngValue]="true" selected>Yes</option>
          <option [ngValue]="false">No</option>
        </select>      </div>

      <div class="input-group input-group-sm mb-3">
        <button (click)="save()" class="btn btn-primary">Save</button>
      </div>

    </div>
  </div>
</div>