<div class="component">
  <div class="menu">
    <app-menu></app-menu>
  </div>
  <div class="component-heading">  
    <div class="title side-by-side">
      <span class="pagetitle">{{ pagetitle }}</span>
      <span class="newlink"> | <a routerLink="{{ createlink }}">{{ createlinkname }}</a></span>
      <span class="searchBox"> | <input [(ngModel)]="searchfor" class="no-border" type="text" placeholder="Search"></span>
    </div>
    <div class="side-by-side align-right">
      <span class="error-message">{{ errormessage }}</span>
    </div>
  </div>
  <div class="content">
    <h4 class="centered">Equipment</h4>
    <table class="table table-sm table-hover table-bordered" *ngIf="equipments">
      <thead>
        <tr class="stky-hdr">
          <th><a (click)="sort('code')">Code <i class="fas fa-sort"></i></a></th>
          <th><a (click)="sort('description')">Description <i class="fas fa-sort"></i></a></th>
          <th><a (click)="sort('year')">Year <i class="fas fa-sort"></i></a></th>
          <th><a (click)="sort('make')">Make Mfg <i class="fas fa-sort"></i></a></th>
          <th><a (click)="sort('model')">Model <i class="fas fa-sort"></i></a></th>
          <th><a (click)="sort('serialNumber')">Serial Number <i class="fas fa-sort"></i></a></th>
          <th><a (click)="sort('active')">Active <i class="fas fa-sort"></i></a></th>
          <th>Action</th>
        </tr>
      </thead>
      <tr *ngFor="let equip of equipments | search: searchfor |  sort:sortProperty:sortOrder">
        <td>{{ equip.code }}</td>
        <td>{{ equip.description }}</td>
        <td>{{ equip.year }}</td>
        <td>{{ equip.make }}</td>
        <td>{{ equip.model }}</td>
        <td>{{ equip.serialNumber }}</td>
        <td [ngClass]="{false: 'error'}[equip.active]">{{ equip.active ? "Yes" : "No" }}</td>
        <td>
          <span><a routerLink="/equipment/detail/{{ equip.id }}">Detail</a></span>
          <span> | <a routerLink="/equipment/edit/{{ equip.id }}">Edit</a></span>
        </td>
      </tr>
    </table>
  </div>
</div>