<div class="component">
  <div class="menu">
    <app-menu></app-menu>
  </div>
  <div class="component-heading">  
    <div class="title side-by-side">
      <span class="pagetitle">{{ pagetitle }}</span>
      <span class="newlink"> | <a routerLink="{{ createlink }}">{{ createlinkname }}</a></span>
      <span class="searchBox"> | <input [(ngModel)]="searchfor" class="no-border" type="text" placeholder="Search"></span>
    </div>
    <div class="side-by-side align-right">
      <span class="error-message">{{ errormessage }}</span>
    </div>
  </div>
  <div class="content">
    <table class="table table-sm table-hover" *ngIf="addresses">
      <tr>
          <th class="sticky-top opaque"><a (click)="sort('code')">Code <i class="fas fa-sort"></i></a></th>
          <th class="sticky-top opaque"><a (click)="sort('name')">Name <i class="fas fa-sort"></i></a></th>
          <th class="sticky-top opaque"><a (click)="sort('address1')">Address <i class="fas fa-sort"></i></a></th>
          <th class="sticky-top opaque"><a (click)="sort('city')">City <i class="fas fa-sort"></i></a></th>
          <th class="sticky-top opaque"><a (click)="sort('state')">State <i class="fas fa-sort"></i></a></th>
          <th class="sticky-top opaque"><a (click)="sort('zipcode')">Zipcode <i class="fas fa-sort"></i></a></th>
          <th class="sticky-top opaque"><a (click)="sort('active')">Active <i class="fas fa-sort"></i></a></th>
          <th class="sticky-top opaque">Action</th>
      </tr>
      <tr *ngFor="let address of addresses | search: searchfor |  sort:sortProperty:sortOrder">
        <td>{{ address.code }}</td>
        <td>{{ address.name }}</td>
        <td>
          {{ address.address1 }}
          <span *ngIf="address.Address2">, {{ address.address2 }}</span>
          <span *ngIf="address.Address3">, {{ address.address3 }}</span>
        </td>
        <td>{{ address.city }}</td>
        <td>{{ address.state }}</td>
        <td>{{ address.zipcode }}</td>
        <td>{{ address.active ? "Yes" : "No" }}</td>
        <td>
          <span><a routerLink="/addresses/detail/{{  address.id }}">Detail</a></span>
          <span> | <a routerLink="/addresses/edit/{{ address.id }}">Edit</a></span>
        </td>
      </tr>
    </table>
  </div>
</div>