<div class="component">
  <div class="menu">
    <app-menu></app-menu>
  </div>
  <div class="component-heading">  
    <div class="title side-by-side">
      <span class="pagetitle">{{ pagetitle }}</span>
    </div>
    <div class="side-by-side align-right">
      <span class="error-message">{{ errormessage }}</span>
    </div>
  </div>
  <div class="content" *ngIf="equipment">
    <table class="table table-sm">
      <tr>
        <th>Code</th><td>{{ equipment.code }}</td>
        <th>Description:</th><td>{{ equipment.description }}</td>
        <th>Year/Make Mfg/Model</th><td>{{ equipment.year }} {{ equipment.make }} {{ equipment.model }}</td>
        <th>Serial Number:</th><td>{{ equipment.serialNumber }}</td>
        <th>Active:</th><td>{{ equipment.active ? "Yes" : "No" }}</td>
      </tr>
    </table>
    <app-asset-detail [asset]="equipment.asset" [assetType]="assetType"></app-asset-detail>
    <table class="table table-sm">
      <tr>
        <td colspan="2">
          <button (click)="edit()" class="btn btn-warning">Edit</button>
          <button (click)="remove()" class="btn btn-danger">Remove</button>
          <button *ngIf="showVerifyDelete" (click)="verify()" class="btn btn-danger">Verify Remove</button>
        </td>
      </tr>
    </table>
  </div>
</div>