<div class="component">
  <div class="menu">
    <app-menu></app-menu>
  </div>
  <div class="component-heading">  
    <div class="title side-by-side">
      <span class="pagetitle">{{ pagetitle }}</span>
      <span class="newlink"> | <a routerLink="{{ createlink }}">{{ createlinkname }}</a></span>
      <span class="searchBox"> | <input [(ngModel)]="searchfor" class="no-border" type="text" placeholder="Search"></span>
    </div>
    <div class="side-by-side align-right">
      <span class="error-message">{{ errormessage }}</span>
    </div>
  </div>
  <div class="content">
    <table class="table table-sm table-hover" *ngIf="departments">
      <tr class="stky-hdr">
          <th><a (click)="sort('code')">Code <i class="fas fa-sort"></i></a></th>
          <th><a (click)="sort('name')">Name <i class="fas fa-sort"></i></a></th>
          <th><a (click)="sort('active')">Active <i class="fas fa-sort"></i></a></th>
          <th>Action</th>
      </tr>
      <tr *ngFor="let dept of departments | search: searchfor |  sort:sortProperty:sortOrder">
        <td>{{ dept.code }}</td>
        <td>{{ dept.name }}</td>
        <td>{{ dept.active ? "Yes" : "No" }}</td>
        <td>
          <span><a routerLink="/departments/detail/{{  dept.id }}">Detail</a></span>
          <span> | <a routerLink="/departments/edit/{{ dept.id }}">Edit</a></span>
          <span> | <a routerLink="/departments/assets/{{ dept.id }}/{{dept.name}}">Assets</a></span>
        </td>
      </tr>
    </table>
  </div>
</div>