<app-menu></app-menu>
<div>
  <div>
    <h4>Asset Management System</h4>
    <p>
      The Asset Management System (AMS2) is a product of the students and staff of the .Net Boot Camps of <a href="http://www.maxtrain.com" target="_blank">MAX Technical Training</a>.
    </p>
    <p>
      The project started in a Techies-for-good meetup and an idea from the staff of the Deerfield Township Administration. Deerfield Township said they were in need of a system to track their fixed assets. They were using a paper-based file system that was not meeting the needs of the Township. They did not have the approved funds to purchase a commerical system so they submitted the idea to the Techies-for-good group a request for the system.
    </p>
    <p>
      Meanwhile, four students of the .Net Boot Camp class offered to begin work on the project at the direction of their instructor. There were only eight business days to work on the project. The students built the beginnings of the system and demonstrated it at the finale of their boot camp called "Demo Day". A member of the Deerfield Township Administration staff was present and said a few words of thanks for the student's effort.
    </p>
    <p>
      The first version of the Asset Management System needed a few enhancements and bug fixes before being installed at the Township site. Since the first version, more enhancements and bug fixes continue to enhance the value of the system to Deerfield Township.
    </p>
    <p>
      For their contributions to the project, MAX Technical Training provides Deerfield Township Administration a free, perpetual license to use the software they helped develop.
    </p>
    <p class="font-italic">
      A special thank you goes to Bobbi Kessler for her countless hours working with the students and staff on the requirements for the software. We couldn't have done it without her.
    </p>
  </div>
  <div>
    <h4>Constributors</h4>
    <p>The following MAX Technical Training Boot Camp students contributed to this project:</p>
    <ul>
      <li *ngFor="let student of students">{{ student }}
    </ul>
  </div>
  <div>
    <h6>Copyright (c) MAX Technical Training 2018-2019 All rights reserved</h6>
  </div>
</div>
